{% extends "base.html" %} 

{% block head %}
<h2>Welcome to Med</h2>
<hr>
<h3 id="doc">Our doctors</h3>





{% endblock head %}


{% block body %}
<section class="py-4 text-center container">
  <div class="row py-lg-2">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to Medify</h1>
      <p class="lead text-body-secondary">Welcome to our Website. We provide doctor consultation, medication counter and provide some crucial knowledge about precaution for some common diseases</p>

    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container" >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" >
          <img src="https://media.istockphoto.com/id/179011088/photo/indian-doctor.jpg?s=612x612&w=0&k=20&c=EwRn1EWy79prCtdo8yHM6hvCVVcaKTznVBpVURPJxt4=" height="500px">
          <div class="card-body">
            <pre class="docname">           Dr. Sushant Patil</pre>
            <p class="card-text">Neurologist and a PHD holder in neurology with 30 years of experience</p>
            <div class="d-flex justify-content-between align-items-center">
           
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://t3.ftcdn.net/jpg/00/38/77/72/360_F_38777243_SQWQINbhABoifNLyg1C0r28nvDPLrpM9.jpg" height="500px">
          <div class="card-body">
            <pre class="docname">           Dr. Vinita Vaidya</pre>
            <p class="card-text">Gynaecologist and a PHD holder in gynaecology with 20 years of experience</p>
            <div class="d-flex justify-content-between align-items-center">
             
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://media.istockphoto.com/id/497142181/photo/physician.jpg?s=612x612&w=0&k=20&c=PX_lRXXQo7lUpE1Slj2vHsiCnZZnVNF_OX99-ag6O_8=" height="500px">
          <div class="card-body">
            <pre class="docname">            Dr. Devika Iyer</pre>
            <p class="card-text">Pediatrician and a PHD holder in pediatrics with 15 years of experience</p>
            <div class="d-flex justify-content-between align-items-center">
             
              
            </div>
          </div>
        </div>
      </div>
      
        <p></p>
        
      <div class="bg-dark text-white text-center text-lg-start" class="a1">
        <div class="container p-4">
          <div class="row">
            <div class="col-md-6">
              <h5 class="fw-bold">Contact Us</h5>
              <p>
                <i class="fas fa-phone-alt me-2"></i> +91 9838384394<br>
                <i class="fas fa-phone-alt me-2"></i> +91 9843824386<br>
                <i class="fas fa-phone-alt me-2"></i> +91 9228332398<br>
                <i class="fas fa-envelope me-2"></i> <a href="mailto:contact@medify.com">contact@medify.com</a>
              </p>
            </div>
            <div class="col-md-6">
              <h5 class="fw-bold">Navigation</h5>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Doctors</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.8);">
          © 2024 Copyright: <a href="https://medify.com/" class="text-white">medify.com</a>
        </div>
      </div>




</body>
      




{% endblock body %}
